* {
  box-sizing: border-box;
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: #f4f7f8;
  overflow: hidden;
}

nav.sidebar {
  width: 15%;
  background: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

nav.sidebar h2 {
  margin: 0 0 40px 0;
  font-weight: 700;
  letter-spacing: 2px;
}

nav.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav.sidebar a:hover {
  background: #34495e;
}

.main-content{
  width: 85%;
  margin-left: auto;
  
}
.kpis{
  display: flex;
  justify-content: space-evenly;
}
.kpi{
  width: 18rem;
  height: 15vh;
  background-color: #666;
  border-radius: 15px;
}

.kpi p {
  color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 5%;
}

body.dark-mode .kpi,
body.dark-mode .kpi p{
  background-color: #d3d0d0;
  color: #2c3e50;
  border-radius: 15px;

}

header h1 {
  margin-bottom: 30px;
  color: #34495e;
}

.charts {
  max-width: 55rem;
  height: 68vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.pizza {
  max-width: 45rem;
  height: 68vh;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  margin: 40px;
  transform: translateX(-15%);
}

.graficos{
  display: flex;
  width: 100%;
}

.chart-container {
  width: 50rem;
  height: 22vh;
  padding-bottom: 2%;
  margin-bottom: 15%;
}
.chart-container2 {
  width: 20rem;
  height: 22vh;
  padding-bottom: 2%;
  margin-bottom: 15%;
}
h3 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.dark-mode {
  background-color: #222;
  color: #eee;
}
body.dark-mode h1,
body.dark-mode p{
  color: #eee;
}

body.dark-mode #toggleDarkMode {
  background-color: #444;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  color: #ddd;
}

body.dark-mode #toggleDarkMode:hover {
  background-color: #666;
}
#toggleDarkMode {
  display: block;
  margin: 0 auto 40px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
  user-select: none;
}